################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AljabbalManager/bin/Debug
/.vs
/AljabbalManager/obj/x86
/ASDBFramework/bin/Debug
/ASDBFramework/obj
