<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dbcon" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\AljabbalManager\AljabbalManager\DataBase\DBAlJabbalManager.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="ASDBFramework.Properties.Settings.DBAlJabbalManagerConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataBase\DBAlJabbalManager.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>


<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
